body {
  background: gray;
      margin: 0;
      padding: 0;
      color: red;
      

}
p {
  color: white;
  margin-bottom: 100;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  text-align: center
  align-items: center;
  align-content: center;
  cursor: pointer;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  font-size: 36px;
  float: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-content: center;
 background-color: darkgray;
  }

.container2{
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
  height: 300px;
  
}
.info{
  display: flex;
  flex-direction: column;
  text-align: center;
  
  border: 1px solid;
  border-width: thick;
  border-color:red;
  text-align: center;
  align-content: center;
  align-items: center;
  
}

.image2{
  border-style: groove;
  border-radius: 50px;
  border-color: red;
}
.link{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  float: center;
  
}
a {
  text-decoration: none;
  list-style: inside;
  align-content: center;
  padding: 20px;
  color: red;
  background-color: black;
  font-family: cursive;
  margin: 100px;
  cursor: pointer;
}

a:hover{
  background-color: grey;
  
  
  
}

.AllAboutYhnRb{
  width: 500px;
  height: 500px;
  height: 300px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 300px;

} 
